---
layout: default
make-smaller-titles: true
---


<div class="container-fluid index">
    <div class="row">
        <div class="col-md-12 main content-panel">
          <div class="avatar">
              <img src="{{ site.baseurl }}/images/{{ site.title_image }}" class="img-circle about-image" height="150" width="150" alt="{{ site.title }}" />
          </div>

          <h1 class="header author-header" itemprop="headline">{{ site.title }}</h1>

          <div class="author-text">
              {{ site.title_description }}
          </div>

          {% include social_links.html %}
        </div>

        <div class="col-md-12 main content-panel">
          <div class="articles">
            <h2>Latest Posts</h2>
            <ul>
                {% for post in site.posts limit: site.post_limit %}

                    <li>
                        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                        <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
                    </li>

                {% endfor %}
                <li>
                    <small><i><a href="{{ site.baseurl }}/posts/">more...</a></i></small>
                </li>
            </ul>
          </div>
        </div>

        <div class="col-md-12 main content-panel">
          <div class="articles">
            <h2>Resume</h2>
            <p>
              While I'm looking for jobs it might make sense to throw my resume up here. Check out my <a href="{{ site.baseurl }}/resume/">Resume Page</a> to see more.
            </p>
          </div>
        </div>

        <div class="col-md-12 main content-panel">
          <div class="articles">
            <h2>Current Projects</h2>
            <p>
              I'm going to try and keep my current projects up here. These could be things I'm currently working on, or just something I've had up for a while. Check out the <a href="{{ site.baseurl }}/projects/">Projects Page</a> to see more.
            </p>
          </div>
        </div>

    </div>
</div>
